<nav class="navbar navbar-default">
    <div class="navbar-header">
        <div class="row">
            <p class="navbar-text" id="large">Target Marketing</p>
        </div>
        <div class="row">
            <p class="navbar-text" id="small">Aim Small, Miss Small<span></span></p>
            <!-- <p ng-if="isAuthenticated()" class="navbar-text" id="user">Welcome, {{userName}}!</p> -->
        </div>

    </div>
    <span><p ng-if="isAuthenticated()" class="navbar-text" id="user">Welcome, {{userName}}!</p></span>

</nav>

<!-- <nav class="navbar navbar-default">
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="navbar-left"><a href="#">Left 1</a></li>
      <li class="navbar-left"><a href="#">Left 2</a></li>
      <li id="title">Target Marketing</li>
      <li class="navbar-right" ng-if="isAuthenticated()"><p>Welcome, {{userName}}!</p></li>
    </ul>
  </div>
</nav> -->
