<div ng-hide="research" class="container">
 <!--  <div class="row">
    <div class="center-form panel">
        <div class="panel-body">
          <h1 class="text-center">Research</h1>
        </div>
    </div>
  </div> -->
  <div class="row">
      <div class="col-lg-12">
            <h1 class="page-header">Research</h1>
         <!--    <h3>Top 10 States in Each Category</h3> -->
            </div>
        </div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <category-data></category-data>
  </div>

  <div class="col-md-6 col-xs-12">
    <state-code-data></state-code-data>
  </div>
  <button class="btn btn-lg btn-primary" ng-click="getNationalData(); getStateData()">Run Query</button>
  <br>
</div>

<br>


<div>

<div class="row" ng-if="isAuthenticated()">


<div class="col-md-offset-3 col-md-6 col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Saved Queries</h3></div>
            <div class="panel-body">
            </div>
    <table class="table table-striped table-bordered table-condensed text-center">
          <thead class="text-center">
              <tr class="text-center">
                  <th class="text-center">#</th>
                  <th class="text-center">Refresh</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Date</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="query in queries">
                    <th>{{$index + 1}}</th>
                    <td><button ng-click="run(query.name)" class="  btn-sm btn-primary "><i class="fa fa-refresh"></i> Refresh</button></td>
                    <td>{{query.name}}</td>
                    <td>{{query.date | date : 'medium'}}</td>
                </tr>
          </tbody>
      </table>
    </div>

</div>

</div>


</div>
