<div ng-hide="research" class="container">
 <!--  <div class="row">
    <div class="center-form panel">
        <div class="panel-body">
          <h1 class="text-center">Research</h1>
        </div>
    </div>
  </div> -->
  <div class="row">
      <div class="col-lg-12">
            <h1 class="page-header">Research</h1>
         <!--    <h3>Top 10 States in Each Category</h3> -->
            </div>
        </div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <category-data></category-data>
  </div>

  <div class="col-md-6 col-xs-12">
    <state-code-data></state-code-data>
  </div>
</div>

<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Compare</h3>
  </div>
  <div class="panel-body">
    This vs. that choice here
  </div>
</div> -->



<div>

<div ng-if="isAuthenticated()">
  <h2>Retrieve Query</h2>
    <button type="submit" class="btn btn-success" ng-click="retrieve()">Retrieve and Run Query</button>

  <ol>
   <li ng-repeat="query in queries" ng-click="run(query.name)">Query Name: {{query.name}} Query Category: {{query.category}} Query State: {{query.state}}</li>
  </ol>
</div>



<button class="btn btn-lg btn-primary" ng-click="getNationalData(); getStateData()">View Results</button>

</div>


</div>
