<div class="container">

<div class="row">

<div class="col-md-4 col-md-offset-4">
<!-- <h1 class="text-center">Login</h1> -->

  <div class="panel panel-primary">
  <div class="panel-heading"><h1>Welcome, <em>{{name}}</em>!</h1></div>
  <div class="panel-body">
  </div>

  <div class="login">

<div ng-if="message">
  <h3>{{message}}</h3>
</div>

<div>
  <h3>Update Email</h3>
  <form ng-submit="updateUser(newEmail)">
    <div class="form-group">
      <input type="email" class="form-control" ng-model="newEmail" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block outline">Update</button>
  </form>
</div>

<table class="table table-striped table-bordered table-condensed text-left">
                    <caption class="text-center"><h3>Saved Queries</h3></caption>
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="query in queries">
                            <th>{{$index + 1}}</th>
                            <td>{{query.name}}</td>
                            <td>Date placeholder</td>
                        </tr>
                    </tbody>
                </table>

 </div>

  </div>

</div>
</div>


</div>
