<div class="container">

<div class="row">

<div class="col-md-4 col-md-offset-4">
<!-- <h1 class="text-center">Login</h1> -->

  <div class="panel panel-primary">
  <div class="panel-heading"><h1>Welcome, <em>{{name}}</em>!</h1></div>
  <div class="panel-body">
  </div>

  <div class="login">

<div ng-if="message">
  <h3>{{message}}</h3>
</div>

<div>
  <h3>Update Email</h3>
  <form ng-submit="updateUser(newEmail)">
    <div class="form-group">
      <input type="email" class="form-control" ng-model="newEmail" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block outline">Update</button>
  </form>
</div>



 </div>

  </div>

</div>
</div>

<div class="row" ng-if="isAuthenticated()">

    <div class="panel panel-primary">
        <div class="panel-heading"><h2>Query History</h2>
        <h5><button ng-show="table" class="btn btn-xs btn-primary outline" ng-click="table = !table"><i class="fa fa-expand"></i> Expand</button>
            <button ng-hide="table" class="btn btn-xs btn-primary outline" ng-click="table = !table"><i class="fa fa-compress"></i> Collapse</button>
          </h5></div>
            <div class="panel-body">

    <table ng-hide="table" class="table table-striped table-bordered table-condensed text-center">
          <thead class="text-center">
              <tr class="text-center">
                  <th class="text-center">#</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Date</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="query in queries">
                    <th class="text-center">{{$index + 1}}</th>
                    <td>{{query.name}}</td>
                    <td>{{query.date | date : 'medium'}}</td>
                </tr>
          </tbody>
      </table>
      </div>
    </div>



</div>
</div>
