<div class="container">
  <div class="row">
    <div class="center-form panel">
      <form method="post" ng-submit="login()" name="loginForm" novalidate>
        <div class="panel-body">
          <h2 class="text-center">Home</h2>
        </div>
      </form>
    </div>
  </div>
</div>

{{test}}


<div>
  <h2>Testing Add Query</h2>
  <form ng-submit="addQuery(query)">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="queryName" placehold="query name" required>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="queryUrl" required placeholder="query url">
    </div>
    <button type="submit" class="btn btn-default btn-block">Add Query</button>
  </form>
</div>

