body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#444444;
  background-color: #EEEEEE;
/*  background-image: url('/images/bullseye.png'),*/

}

a {
  color: #00B7FF;
}

.my-container h1{
    padding: 5px;
    text-align: center;
    z-index: 2;
    height: 200px;
    position: relative;
    color: #444444;
    font-size: 70px
}

.my-container h4{
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #444444;
    font-size: 35px;
}

.my-container img {
    position: absolute;
    margin: auto;
    left: 25%;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 1;
    opacity: .7;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #527CA6;
    color: #EEEEEE;
}

.panel-heading {
     background-color: #444444 !important;
     color: #EEEEEE!important;
}

.panel {
  border: 1px solid #444444 !important;
  box-shadow: 5px 5px 2px #888888;

}

.steps {
    height: 450px;
    background-color: #eeeeee
}

#analyze {
    background-color: #eeeeee !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #FF5C26;
    color: #EEEEEE;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.login {
    padding:5px;
}

.nv-legend {
    text-align: center
}

/*.btn-primary.outline {
    border: 2px solid gray;
    color: gray;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: gray;
    border-color: gray;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: gray;
    color: gray;
    box-shadow: none;
}*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 175px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 175px;
    width: 0;
    height: 100%;
    margin-left: -175px;
    overflow-y: auto;
    background: #444444;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 175px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -175px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 175px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #EEEEEE;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #EEEEEE;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 175px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 175px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


.business-header {
    /*height: 400px;*/
    background: url('/images/bullseye.png') center center no-repeat scroll;
  /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    /*opacity: .4;*/
}

.panel-height {
       height: 195px;
}

.portfolio-item {
    border-radius: 25px;
    padding: 20px;
    border: 2px solid black;
    width: 370px;
    margin:5px;
}
/*.business-header {
    height: 400px;
    background: url('/images/target.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}*/

/*video#bg-video {
  background: url(first-frame.png) no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}*/

