body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#444444;
  background-color: #EEEEEE;
/*  background-image: url('/images/bullseye.png'),*/

}

a {
  color: #00B7FF;
}

/*.header {
    background-color: #444444;
    height: 50px;
}

.header h1 {
    padding: 5px;
    text-align: left;
    margin-left: 5%;
    z-index: 2;
    height: 100%;
    position: relative;
    color: #EEEEEE;
    font-size: 20px;
}

.my-container h4{
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: #EEEEEE;
    font-size: 10px;
    font-weight: bold;
}

.header img {
    position: absolute;
    text-align: left;
    margin: auto;
    top: 0;
    width: 5%;
    height: 50%;
    z-index: 1;
    opacity: 1;
}*/
/*.navbar {
    border: none;
}
 .navbar-nav {
    width: 100%;
    text-align: center;
    height: 125px;
    background-color: #444444;
    border: 0px;
    border-radius: 0px;
    border-color: #444444;

  }

  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
    border-color: #444444;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }

.navbar-nav>li>p {
    padding-top: 100px;
    padding-bottom: 5px;
}

#title {
    color: #EEEEEE;
    font-size: 50px;
}
*/
.navbar{
   background-color: #444444;
   border: 0px;
   border-radius: 0px;
   width: 100%;
   text-align:center;
   height: 125px;
}

.navbar-header {
    display:inline-block;
    float:none;
}

/*.navbar-text {
    margin-right: 0px;
}*/

.navbar-text .navbar-default, #large {
  color: #EEEEEE;
  font-size: 50px;
  float:none;
  margin-bottom: 2px
}

.navbar-text .navbar-default, #small {
  color: #FF5C26;
  font-size: 20px;
  float:none;
  margin-top: 0px;
  margin-bottom: 4px
}

.navbar-text .navbar-default, #user {
  position: relative;
  color: #FFD24D;
  font-size: 20px;
  margin-left: 80%;
  margin-top: -23px
}

.red {
  color: #FF5C26;
}

.btn {
    padding: 10px 20px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #527CA6;
    color: #EEEEEE;
}

.btn-group-xs>.btn, .btn-xs {
    padding: 8px 16px;
    font-size: 9px;
    line-height: 0;
}

.panel-heading {
     background-color: #444444 !important;
     color: #EEEEEE!important;
}

.panel {
  border: 1px solid #444444 !important;
  box-shadow: 5px 5px 2px #888888;

}


#analyze {
    background-color: #eeeeee !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #FF5C26;
    color: #EEEEEE;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

/*.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
    box-shadow: 1px 1px 1px 0 #888888;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #FF5C26;
    border-color: #FF5C26;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #FF5C26;
    color: #FF5C26;
    box-shadow: none;
}*/

.login {
    padding:5px;
}

.nv-legend {
    text-align: center
}

/*.btn-primary.outline {
    border: 2px solid gray;
    color: gray;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: gray;
    border-color: gray;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: gray;
    color: gray;
    box-shadow: none;
}*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 125px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 125px;
    width: 0;
    height: 100%;
    margin-left: -125px;
    overflow-y: auto;
    background: #444444;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 125px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -125px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 125px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #EEEEEE;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand img {
    margin-bottom: 50px

}
.sidebar-nav > .sidebar-brand a {
    color: #EEEEEE;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 125px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 125px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 10px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


.business-header {
    /*height: 400px;*/
    background: url('/images/bullseye.png') center center no-repeat scroll;
  /*  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    /*opacity: .4;*/
}

.panel-height {
       height: 195px;
}

.portfolio-item {
    border-radius: 25px;
    padding: 20px;
    border: 2px solid black;
    width: 370px;
    margin:5px;
}

/*.brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }*/
/*.business-header {
    height: 400px;
    background: url('/images/target.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}*/

/*video#bg-video {
  background: url(first-frame.png) no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}*/

