<div ng-show="dashboard" class="container">
<!--   <div class="row">
    <div class="center-form panel">
        <div class="panel-body">
          <h2 class="text-center">Data Dashboard Category {{title}}</h2>
          <h3 class="text-center">You are viewing results on {{title}} for the state of {{stateTitle}}.</h3>
        </div>
    </div>
  </div> -->

  <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Data Dashboard Category {{title}}
                </h1>
                <h3>You are viewing results on {{title}} for the state of {{stateTitle}}.</h3>
            </div>
        </div>
        <!-- /.row -->

<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header">State Rankings for {{stateTitle}} </h3>
    </div>

    <div class="col-sm-3 col-xs-6">
        <label>State GDP Ranking</label>
        <p>Rank: {{GDPposition}}</p>
        <p>GDP (in millions): ${{stateGDP | number:0}}<p>
        <state-gauge-gdp-chart-data></state-gauge-gdp-chart-data>
    </div>

    <div class="col-sm-3 col-xs-6">
        <label>State Population</label>
        <p>Rank: {{populationPosition}}</p>
        <p>Population: {{statePopulation | number:0}}</p>
        <state-gauge-population-chart-data></state-gauge-population-chart-data>
    </div>

    <div class="col-sm-3 col-xs-6">
        <label>State Personal Income Ranking</label>
        <p>Rank: {{incomePosition}}</p>
        <p>Income: ${{stateIncome | number:0}}</p>
        <state-gauge-income-chart-data></state-gauge-income-chart-data>
    </div>

    <div class="col-sm-3 col-xs-6">
        <label>Total Employment (Full and Part Time)</label>
        <p>Rank: {{jobPosition}}</p>
        <p>Jobs: {{stateJob | number}}</p>
        <state-gauge-jobs-chart-data></state-gauge-jobs-chart-data>
    </div>

</div>

<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header">Category: {{title}}</h3>
    </div>

    <div class="col-md-6 col-xs-12">
      <label>State Pie Data for {{stateTitle}}</label>

        <div>
          <state-pie-chart-data></state-pie-chart-data>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
    <label>National Data</label>
        <div>
          <national-pie-chart-data></national-pie-chart-data>
        </div>
    </div>


</div>

<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header">Comparison</h3>
    </div>

    <div class="col-md-6 col-xs-12">
      <label>State Bar Chart for {{stateTitle}}</label>
        <div>
          <state-discrete-bar-chart-data></state-discrete-bar-chart-data>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
    <label>National Bar Chart</label>
        <div>
          <national-discrete-bar-chart-data></national-discrete-bar-chart-data>
        </div>
    </div>


</div>

<div>
  <h2>Add Query Test</h2>
  <form ng-submit="addQuery(query)">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="queryName" placeholder="query name" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Save Query</button>
  </form>
</div>


<button class="btn btn-lg btn-primary btn-block" ng-click="searchAgain(); reloadRoute()">Search Again</button>


</div>




