<div ng-show="dashboard" class="container">

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>State Rankings for {{stateTitle}}</h3>
        </div>
        <div class="panel-body">

    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>GDP</h4></div>
            <p><strong>Rank:</strong> {{GDPposition}}</p>
            <p><strong>GDP (in millions):</strong> ${{stateGDP | number:0}}<p>
            <state-gauge-gdp-chart-data></state-gauge-gdp-chart-data>
        </div>
    </div>


    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Population</h4></div>
            <p><strong>Rank:</strong> {{populationPosition}}</p>
            <p><strong>Population:</strong>{{statePopulation | number:0}}<p>
            <state-gauge-population-chart-data></state-gauge-population-chart-data>
        </div>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Personal Income</h4></div>
            <p><strong>Rank:</strong> {{incomePosition}}</p>
            <p><strong>Income:</strong>${{stateIncome | number:0}}<p>
            <state-gauge-income-chart-data></state-gauge-income-chart-data>
        </div>
    </div>

    <div class="col-sm-3 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Total Employment</h4></div>
            <p><strong>Rank:</strong> {{jobPosition}}</p>
            <p><strong>Jobs:</strong> {{stateJob | number}}<p>
            <state-gauge-income-chart-data></state-gauge-income-chart-data>
        </div>
    </div>

    </div>
    </div>
</div>

<div class="row">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>{{stateTitle}} vs. Nation on {{title}}</h3>
            <h5 class="red">You are viewing results on {{title}} for the state of {{stateTitle}}.</h5>
        </div>
        <div class="panel-body">

    <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>{{stateTitle}} <i class="fa fa-pie-chart"></i></h4></div>
            <state-pie-chart-data></state-pie-chart-data>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Nation <i class="fa fa-pie-chart"></i></h4></div>
            <national-pie-chart-data></national-pie-chart-data>
        </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>{{stateTitle}} <i class="fa fa-bar-chart"></i></h4></div>
            <state-discrete-bar-chart-data></state-discrete-bar-chart-data>
        </div>
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Nation <i class="fa fa-bar-chart"></i></h4></div>
            <national-discrete-bar-chart-data></national-discrete-bar-chart-data>
        </div>
    </div>
    </div>

    </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Action</h3></div>
            <div class="panel-body">

                <div class="col-md-6 col-xs-12">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Run Another Query</h3></div>
                <div class="panel-body">
                    <button class="btn btn-lg btn-primary btn-block" ng-click="searchAgain(); reloadRoute()"><i class="fa fa-repeat"></i> Query Again <i class="fa fa-repeat"></i></button>
                </div>
                </div>
                </div>

                <div class="col-md-6 col-xs-12">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Save Query</h3></div>
                <div class="panel-body">
                    <button ng-hide="showme" type="submit" class="btn btn-lg btn-primary btn-block" ng-click="showme=true">Save As</button>
                    <button ng-show="showme" type="submit" class="btn btn-lg btn-primary btn-block" ng-click="addQuery(query)">Save</button>

                    <div ng-show="showme">

                    <input type="text" class="form-control" ng-model="queryName" placeholder="Insert Query Name" required>

                    <div class="message-section" ng-show="success">
                        <p class="alert alert-success" role="alert">{{message}}</p>
                    </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
</div>


<div class="row" ng-show="isAuthenticated()">

<!-- <div class="col-md-offset-3 col-md-6 col-xs-12">
    <div class="panel panel-primary">
        <div class="panel-heading"><h3>Save Query</h3></div>
            <div class="panel-body"></div>
         <form class="login form-inline">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="queryName" placeholder="Insert Query Name" required>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="addQuery(query)">Save</button>
            <br>
            <div class="message-section" ng-show="success">
                <p class="alert alert-success" role="alert">{{message}}</p>
            </div>
          </form>
    </div>
</div> -->

</div>




</div>




