<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Popular Metrics
                </h1>
                <h3>Top 10 States in Each Category</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <ol>
                  <li ng-repeat="state in gdp">{{state.GeoName}}</li>
                </ol>
                <h3>
                  Population
                </h3>
                <p>List of the 10 most densely populated states.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <ol>
                  <li ng-repeat="state in richest">{{state.GeoName}}</li>
                </ol>
                <h3>
                    Per Capita Income
                </h3>
                <p>List of 10 states with the highest income.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    Housing Value
                </h3>
                <p>List of 10 states with the highest average housing prices.</p>
            </div>
        </div>
        <!-- /.row -->


        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    Disposable Income
                </h3>
                <p>List of 10 states with the highest disposable income.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    Persons 65 Years and Over
                </h3>
                <p>List of states with the oldest populations.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>
                <h3>
                    Bachelor's Degree or Higher
                </h3>
                <p>States with the most educated populations.</p>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

