<!-- Page Content -->
<div class="container">

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h2>State Ranks</h2>
        <h5 class="red">Top 10 States in Each Category</h5>
    </div>
    <div ng-hide="loading" class="col-md-4 col-sm-offset-4">
        <br>
        <br>
        <img src="/images/gears.gif">
    </div>

    <div ng-show="loading" class="panel-body">
      <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>State GDP</h3></div>
                <div class="panel-body">

                <table class="table table-striped table-bordered table-condensed text-left">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value ($ in Millions)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in gdp">
                            <th>{{$index + 1}}</th>
                            <td>{{state.GeoName}}</td>
                            <td>${{state.DataValue | number:0}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Per Capita Income</h3></div>
                <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed text-left">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in richest">
                            <th>{{$index + 1}}</th>
                            <td>{{state.GeoName}}</td>
                            <td>${{state.DataValue | number:0}}</td>
                        </tr>
                    </tbody>
                </table>
                 </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Housing Value</h3></div>
                <div class="panel-body">

                <table class="table table-striped table-bordered table-condensed text-left">

                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in housing">
                            <th>{{$index + 1}}</th>
                            <td>{{state[0]}}</td>
                            <td>${{state[1] | number:0}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- List Row -->
        <div class="row">
            <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3>Disposable Income</h3></div>
                <div class="panel-body">

                <table class="table table-striped table-bordered table-condensed text-left">

                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in disposable">
                            <th>{{$index + 1}}</th>
                            <td>{{state.GeoName}}</td>
                            <td>${{state.DataValue | number:0}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Persons 65 Years and Over</h3></div>
                <div class="panel-body">

                <table class="table table-striped table-bordered table-condensed text-left">

                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in seniors">
                            <th>{{$index + 1}}</th>
                            <td>{{state[0]}}</td>
                            <td>{{state[1]}}%</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Bachelor's Degree or Higher</h3></div>
                <div class="panel-body">

                <table class="table table-striped table-bordered table-condensed text-left">

                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in bachelors">
                            <th>{{$index + 1}}</th>
                            <td>{{state[0]}}</td>
                            <td>{{state[1]}}%</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- List Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Unemployed Percentage</h3></div>
                <div class="panel-body">

                <table class="table table-striped table-bordered table-condensed text-left">

                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in unemployed">
                            <th>{{$index + 1}}</th>
                            <td>{{state[0]}}</td>
                            <td>{{state[1]}}%</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>$50-75K Income Bracket</h3></div>
                <div class="panel-body">

                <table class="table table-striped table-bordered table-condensed text-left">

                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in income">
                            <th>{{$index + 1}}</th>
                            <td>{{state[0]}}</td>
                            <td>{{state[1]}}%</td>
                        </tr>
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3>Grades 1-8 Population</h3></div>
                <div class="panel-body">

                 <table class="table table-striped table-bordered table-condensed text-left">
                    <thead class="text-center">
                        <tr>
                            <th>#</th>
                            <th>State</th>
                            <th>Value (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="state in elementary">
                            <th>{{$index + 1}}</th>
                            <td>{{state[0]}}</td>
                            <td>{{state[1]}}%</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>


  </div>

</div>



</div>
</div>


